:root {
    --background-color: rgb(32, 32, 32);
    --background-color-hover: rgb(48, 48, 48);
    --border-color: rgb(128, 128, 128);
    --text-color: rgb(192, 192, 192);
    --text-color-hover: rgb(255, 255, 255);
    --point-color: rgb(0, 192, 0);
    --point-small-color: rgb(0, 128, 0);

    --color-any: rgb(33, 182, 78);
    --color-int: rgb(32, 118, 230);
    --color-float: rgb(104, 169, 255);
    --color-bool: rgb(120, 64, 224);
    --color-str: rgb(216, 224, 93);
    --color-bytes: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
}

main {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -10;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
    background-color: var(--background-color);
    border-top: 1px solid var(--border-color);
}

label {
    color: var(--text-color);
}

select {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

option {
    color: var(--text-color);
}

ul {
    list-style-type: none;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: 0px;
    padding: 5px;
    width: 160px;
}

li {
    text-decoration: none;
    color: var(--text-color);
    padding: 2px 15px 2px 15px;
    border-radius: 5px;
}

li:hover {
    background-color: var(--point-color);
    color: var(--text-color-hover);
}

.left-point {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
}

.right-point {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

#work-space-top,
#work-space-bottom {
    position: absolute;
    justify-content: center;
    display: flex;
    width: 100%;
}

#work-space-top {
    top: 60px;
}

#work-space-bottom {
    bottom: 35px;
}

#window-field {
    display: flex;
    position: relative;
}

.icon {
    margin: 6px;
    height: 36px;
    width: 36px;
}

.icon:hover {
    cursor: pointer;
    background-color: var(--background-color-hover);
}